In [17]:
import requests

link = 'http://127.0.0.1:5000'

requisicao = requests.get(link)

print(requisicao)
print(requisicao.json())

<Response [200]>
{'Jornal': 6110.8, 'Radio': 4652.8, 'TV': 29408.5, 'Vendas': 3026.1}

In [6]:
import pandas as pd

df = pd.DataFrame([requisicao])
df

                                                   0
0  b'{\n  "Jornal": 6110.8,\n  "Radio": 4652.8,\n...

In [8]:
import json
import pandas as pd

requisicao = requests.get(link)
dados_json = requisicao.content.decode('utf-8')  #Decodifica a string de bytes para UTF-8
dados_dict = json.loads(dados_json)  #Converte a string JSON para um dicion√°rio

df = pd.DataFrame([dados_dict])
df

   Jornal   Radio       TV  Vendas
0  6110.8  4652.8  29408.5  3026.1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jornal  1 non-null      float64
 1   Radio   1 non-null      float64
 2   TV      1 non-null      float64
 3   Vendas  1 non-null      float64
dtypes: float64(4)
memory usage: 164.0 bytes

In [16]:
#Calcular a soma das quatro colunas
soma_total = df[['Jornal', 'Radio', 'TV', 'Vendas']].sum().sum()
print(f'Soma total de investimento: R${soma_total}')

Soma total de investimento: R$43198.2